/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
#cwrc_wrapper html, #cwrc_wrapper body, #cwrc_wrapper div, #cwrc_wrapper span, #cwrc_wrapper applet, #cwrc_wrapper object, #cwrc_wrapper iframe,
#cwrc_wrapper h1, #cwrc_wrapper h2, #cwrc_wrapper h3, #cwrc_wrapper h4, #cwrc_wrapper h5, #cwrc_wrapper h6, #cwrc_wrapper p, #cwrc_wrapper blockquote, #cwrc_wrapper pre,
#cwrc_wrapper a, #cwrc_wrapper abbr, #cwrc_wrapper acronym, #cwrc_wrapper address, #cwrc_wrapper big, #cwrc_wrapper cite, #cwrc_wrapper code,
#cwrc_wrapper del, #cwrc_wrapper dfn, #cwrc_wrapper em, #cwrc_wrapper img, #cwrc_wrapper ins, #cwrc_wrapper kbd, #cwrc_wrapper q, #cwrc_wrapper s, #cwrc_wrapper samp,
#cwrc_wrapper small, #cwrc_wrapper strike, #cwrc_wrapper strong, #cwrc_wrapper sub, #cwrc_wrapper sup, #cwrc_wrapper tt, #cwrc_wrapper var,
#cwrc_wrapper b, #cwrc_wrapper u, #cwrc_wrapper i, #cwrc_wrapper center,
#cwrc_wrapper dl, #cwrc_wrapper dt, #cwrc_wrapper dd, #cwrc_wrapper ol, #cwrc_wrapper ul, #cwrc_wrapper li,
#cwrc_wrapper fieldset, #cwrc_wrapper form, #cwrc_wrapper label, #cwrc_wrapper legend,
#cwrc_wrapper table, #cwrc_wrapper caption, #cwrc_wrapper tbody, #cwrc_wrapper tfoot, #cwrc_wrapper thead, #cwrc_wrapper tr, #cwrc_wrapper th, #cwrc_wrapper td,
#cwrc_wrapper article, #cwrc_wrapper aside, #cwrc_wrapper canvas, #cwrc_wrapper details, #cwrc_wrapper embed,
#cwrc_wrapper figure, #cwrc_wrapper figcaption, #cwrc_wrapper footer, #cwrc_wrapper header, #cwrc_wrapper hgroup,
#cwrc_wrapper menu, #cwrc_wrapper nav, #cwrc_wrapper output, #cwrc_wrapper ruby, #cwrc_wrapper section, #cwrc_wrapper summary,
#cwrc_wrapper time, #cwrc_wrapper mark, #cwrc_wrapper audio, #cwrc_wrapper video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
#cwrc_wrapper article, #cwrc_wrapper aside, #cwrc_wrapper details, #cwrc_wrapper figcaption, #cwrc_wrapper figure,
#cwrc_wrapper footer, #cwrc_wrapper header, #cwrc_wrapper hgroup, #cwrc_wrapper menu, #cwrc_wrapper nav, #cwrc_wrapper section {
  display: block;
}
#cwrc_wrapper body {
  line-height: 1;
}
#cwrc_wrapper ol, #cwrc_wrapper ul {
  list-style: none;
}
#cwrc_wrapper blockquote, #cwrc_wrapper q {
  quotes: none;
}
#cwrc_wrapper blockquote:before, #cwrc_wrapper blockquote:after,
#cwrc_wrapper q:before, #cwrc_wrapper q:after {
  content: '';
  content: none;
}
#cwrc_wrapper table {
  border-collapse: collapse;
  border-spacing: 0;
}